.tableshow{
    border: solid black;
    height: 500px;
    width: 600px;
    overflow: auto;
    flex-wrap: wrap;
}

.table{
    display:flex;
    justify-content:center;
    position: static;
}

.text{
    text-align: center;
}

.tb{
    border:1px solid black;
    width:100%;
    text-align: center;
}