<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static\dbshow.css">
    <meta charset="utf-8">
    <title>
        Animalpedia
    </title>
</head>
<body>
    <h1 class="text">
        China's human details
    </h1>
    <div class="table">
        <div class="tableshow">
            <table class="tb">
                <tr class="tb">
                    <th class="tb">id</th>
                    <th class="tb">Country_name</th>
                    <th class="tb">City_name</th>
                    <th class="tb">human</th>
                </tr>
                {% for row in rows %}
                <tr class="tb">
                    <td class="tb">
                        {{row['id']}}
                    </td>
                    <td class="tb">
                        {{row['country_name']}}
                    </td>
                    <td class="tb">
                        {{row['city_name']}}
                    </td>
                    <td class="tb">
                        {{row['human']}}
                    </td>
                <tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>    